html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

a img {
  border: none; }

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block; }

.mx-0 {
  margin-left: 0rem !important;
  margin-right: 0rem !important; }

.my-0 {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important; }

.m-0 {
  margin: 0rem !important; }

.mt-0 {
  margin-top: 0rem !important; }

.ml-0 {
  margin-left: 0rem !important; }

.mr-0 {
  margin-right: 0rem !important; }

.mb-0 {
  margin-bottom: 0rem !important; }

.mx-5 {
  margin-left: 0.3125rem !important;
  margin-right: 0.3125rem !important; }

.my-5 {
  margin-top: 0.3125rem !important;
  margin-bottom: 0.3125rem !important; }

.m-5 {
  margin: 0.3125rem !important; }

.mt-5 {
  margin-top: 0.3125rem !important; }

.ml-5 {
  margin-left: 0.3125rem !important; }

.mr-5 {
  margin-right: 0.3125rem !important; }

.mb-5 {
  margin-bottom: 0.3125rem !important; }

.mx-10 {
  margin-left: 0.625rem !important;
  margin-right: 0.625rem !important; }

.my-10 {
  margin-top: 0.625rem !important;
  margin-bottom: 0.625rem !important; }

.m-10 {
  margin: 0.625rem !important; }

.mt-10 {
  margin-top: 0.625rem !important; }

.ml-10 {
  margin-left: 0.625rem !important; }

.mr-10 {
  margin-right: 0.625rem !important; }

.mb-10 {
  margin-bottom: 0.625rem !important; }

.mx-15 {
  margin-left: 0.9375rem !important;
  margin-right: 0.9375rem !important; }

.my-15 {
  margin-top: 0.9375rem !important;
  margin-bottom: 0.9375rem !important; }

.m-15 {
  margin: 0.9375rem !important; }

.mt-15 {
  margin-top: 0.9375rem !important; }

.ml-15 {
  margin-left: 0.9375rem !important; }

.mr-15 {
  margin-right: 0.9375rem !important; }

.mb-15 {
  margin-bottom: 0.9375rem !important; }

.mx-20 {
  margin-left: 1.25rem !important;
  margin-right: 1.25rem !important; }

.my-20 {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important; }

.m-20 {
  margin: 1.25rem !important; }

.mt-20 {
  margin-top: 1.25rem !important; }

.ml-20 {
  margin-left: 1.25rem !important; }

.mr-20 {
  margin-right: 1.25rem !important; }

.mb-20 {
  margin-bottom: 1.25rem !important; }

.mx-25 {
  margin-left: 1.5625rem !important;
  margin-right: 1.5625rem !important; }

.my-25 {
  margin-top: 1.5625rem !important;
  margin-bottom: 1.5625rem !important; }

.m-25 {
  margin: 1.5625rem !important; }

.mt-25 {
  margin-top: 1.5625rem !important; }

.ml-25 {
  margin-left: 1.5625rem !important; }

.mr-25 {
  margin-right: 1.5625rem !important; }

.mb-25 {
  margin-bottom: 1.5625rem !important; }

.mx-30 {
  margin-left: 1.875rem !important;
  margin-right: 1.875rem !important; }

.my-30 {
  margin-top: 1.875rem !important;
  margin-bottom: 1.875rem !important; }

.m-30 {
  margin: 1.875rem !important; }

.mt-30 {
  margin-top: 1.875rem !important; }

.ml-30 {
  margin-left: 1.875rem !important; }

.mr-30 {
  margin-right: 1.875rem !important; }

.mb-30 {
  margin-bottom: 1.875rem !important; }

.px-0 {
  padding-left: 0rem !important;
  padding-right: 0rem !important; }

.py-0 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important; }

.p-0 {
  padding: 0rem !important; }

.pt-0 {
  padding-top: 0rem !important; }

.pl-0 {
  padding-left: 0rem !important; }

.pr-0 {
  padding-right: 0rem !important; }

.pb-0 {
  padding-bottom: 0rem !important; }

.px-5 {
  padding-left: 0.3125rem !important;
  padding-right: 0.3125rem !important; }

.py-5 {
  padding-top: 0.3125rem !important;
  padding-bottom: 0.3125rem !important; }

.p-5 {
  padding: 0.3125rem !important; }

.pt-5 {
  padding-top: 0.3125rem !important; }

.pl-5 {
  padding-left: 0.3125rem !important; }

.pr-5 {
  padding-right: 0.3125rem !important; }

.pb-5 {
  padding-bottom: 0.3125rem !important; }

.px-10 {
  padding-left: 0.625rem !important;
  padding-right: 0.625rem !important; }

.py-10 {
  padding-top: 0.625rem !important;
  padding-bottom: 0.625rem !important; }

.p-10 {
  padding: 0.625rem !important; }

.pt-10 {
  padding-top: 0.625rem !important; }

.pl-10 {
  padding-left: 0.625rem !important; }

.pr-10 {
  padding-right: 0.625rem !important; }

.pb-10 {
  padding-bottom: 0.625rem !important; }

.px-15 {
  padding-left: 0.9375rem !important;
  padding-right: 0.9375rem !important; }

.py-15 {
  padding-top: 0.9375rem !important;
  padding-bottom: 0.9375rem !important; }

.p-15 {
  padding: 0.9375rem !important; }

.pt-15 {
  padding-top: 0.9375rem !important; }

.pl-15 {
  padding-left: 0.9375rem !important; }

.pr-15 {
  padding-right: 0.9375rem !important; }

.pb-15 {
  padding-bottom: 0.9375rem !important; }

.px-20 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important; }

.py-20 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important; }

.p-20 {
  padding: 1.25rem !important; }

.pt-20 {
  padding-top: 1.25rem !important; }

.pl-20 {
  padding-left: 1.25rem !important; }

.pr-20 {
  padding-right: 1.25rem !important; }

.pb-20 {
  padding-bottom: 1.25rem !important; }

.px-25 {
  padding-left: 1.5625rem !important;
  padding-right: 1.5625rem !important; }

.py-25 {
  padding-top: 1.5625rem !important;
  padding-bottom: 1.5625rem !important; }

.p-25 {
  padding: 1.5625rem !important; }

.pt-25 {
  padding-top: 1.5625rem !important; }

.pl-25 {
  padding-left: 1.5625rem !important; }

.pr-25 {
  padding-right: 1.5625rem !important; }

.pb-25 {
  padding-bottom: 1.5625rem !important; }

.px-30 {
  padding-left: 1.875rem !important;
  padding-right: 1.875rem !important; }

.py-30 {
  padding-top: 1.875rem !important;
  padding-bottom: 1.875rem !important; }

.p-30 {
  padding: 1.875rem !important; }

.pt-30 {
  padding-top: 1.875rem !important; }

.pl-30 {
  padding-left: 1.875rem !important; }

.pr-30 {
  padding-right: 1.875rem !important; }

.pb-30 {
  padding-bottom: 1.875rem !important; }

* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: -.025em; }

p {
  line-height: 1.45; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  color: #333;
  text-decoration: none; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

h1 {
  font-size: 2.1875rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.53125rem; }

h4 {
  font-size: 1.3125rem; }

h5 {
  font-size: 1.09375rem; }

h6 {
  font-size: 0.875rem; }

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 1200px; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }
  .row > [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px; }

.row-no-gutters {
  margin-left: 0;
  margin-right: 0; }
  .row-no-gutters > [class*="col-"] {
    padding-left: 0;
    padding-right: 0; }

/* Grid for all screen
 * Ex: col-1, col-2 */
.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

/* Grid for screen min-width: $small
 * Ex: col-small-1, col-small-2 */
@media (min-width: 480px) {
  .col-small-1 {
    width: 8.33333%; }
  .col-small-2 {
    width: 16.66667%; }
  .col-small-3 {
    width: 25%; }
  .col-small-4 {
    width: 33.33333%; }
  .col-small-5 {
    width: 41.66667%; }
  .col-small-6 {
    width: 50%; }
  .col-small-7 {
    width: 58.33333%; }
  .col-small-8 {
    width: 66.66667%; }
  .col-small-9 {
    width: 75%; }
  .col-small-10 {
    width: 83.33333%; }
  .col-small-11 {
    width: 91.66667%; }
  .col-small-12 {
    width: 100%; } }

/* Grid for screen min-width: $medium
 * Ex: col-medium-1, col-medium-2 */
@media (min-width: 768px) {
  .col-medium-1 {
    width: 8.33333%; }
  .col-medium-2 {
    width: 16.66667%; }
  .col-medium-3 {
    width: 25%; }
  .col-medium-4 {
    width: 33.33333%; }
  .col-medium-5 {
    width: 41.66667%; }
  .col-medium-6 {
    width: 50%; }
  .col-medium-7 {
    width: 58.33333%; }
  .col-medium-8 {
    width: 66.66667%; }
  .col-medium-9 {
    width: 75%; }
  .col-medium-10 {
    width: 83.33333%; }
  .col-medium-11 {
    width: 91.66667%; }
  .col-medium-12 {
    width: 100%; } }

/* Grid for screen min-width: $large
 * Ex: col-large-1, col-large-2 */
@media (min-width: 1024px) {
  .col-large-1 {
    width: 8.33333%; }
  .col-large-2 {
    width: 16.66667%; }
  .col-large-3 {
    width: 25%; }
  .col-large-4 {
    width: 33.33333%; }
  .col-large-5 {
    width: 41.66667%; }
  .col-large-6 {
    width: 50%; }
  .col-large-7 {
    width: 58.33333%; }
  .col-large-8 {
    width: 66.66667%; }
  .col-large-9 {
    width: 75%; }
  .col-large-10 {
    width: 83.33333%; }
  .col-large-11 {
    width: 91.66667%; }
  .col-large-12 {
    width: 100%; } }

/* Grid for screen min-width: $largest
 * Ex: col-largest-1, col-largest-2 */
@media (min-width: 1280px) {
  .col-largest-1 {
    width: 8.33333%; }
  .col-largest-2 {
    width: 16.66667%; }
  .col-largest-3 {
    width: 25%; }
  .col-largest-4 {
    width: 33.33333%; }
  .col-largest-5 {
    width: 41.66667%; }
  .col-largest-6 {
    width: 50%; }
  .col-largest-7 {
    width: 58.33333%; }
  .col-largest-8 {
    width: 66.66667%; }
  .col-largest-9 {
    width: 75%; }
  .col-largest-10 {
    width: 83.33333%; }
  .col-largest-11 {
    width: 91.66667%; }
  .col-largest-12 {
    width: 100%; } }
