.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-none {
  display: none;
}
.d-none-imp {
  display: none !important;
}
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
