// === Function convert px to rem === //
// How to use: { transform: translateX(#{f-pxRem(22)}); border: #{f-pxRem(22)} solid map-get($colors, white); }
@function f-pxRem($value) {
  $result: 0rem + ($value / 16);
  @if $value == 0 {
    $result: 0;
  }
  @if type-of($value) == 'string' {
    $result: $value
  }
  @return $result;
}
